<style>
#how-to-use {
  display: none;
}

</style>

<section>
  <p>
    This is an online tool to help you checkin on
    <a href="https://www.hoyolab.com/" target="_blank" rel="noopener noreferrer nofollow">HoyoLAB</a> automatically. Currently
    the following games are supported:
  </p>
  <ul>
    <li>
      <a
        href="https://genshin.hoyoverse.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Genshin Impact</a
      >
    </li>
    <li>
      <a
        href="https://honkaiimpact3.hoyoverse.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Honkai Impact 3rd</a
      >
    </li>
    <li>
      <a
        href="https://hsr.hoyoverse.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Honkai: Star Rails</a
      >
    </li>
  </ul>

  <p>* Only Global server is supported. CN server is NOT supported.</p>
</section>

<section>
  <div class="alert alert-danger">
    <h2>WARNING: READ BEFORE USING!</h2>

    <p>
      This tool requires your Hoyolab cookie to work. Please make sure you
      understand the following before using this tool:
    </p>
    <ul>
      <li>
        This tool <strong>WILL store your cookie</strong> in our database. This
        is the only way to checkin daily. We guarantee that your cookie will
        only be used for daily checkin.
      </li>
      <li>
        Leaking your Hoyolab cookie to others, including this tool, is
        <strong>very risky</strong> and may result in your Hoyolab account (NOT
        your game accounts) being stolen. We try our best to protect your
        cookie, but we cannot guarantee that your cookie will not be leaked. In
        case of a leak, we will notify you as soon as possible, and you should
        <strong>logout your Hoyolab account immediately</strong> to invalidate
        the leaked cookie.
      </li>

      <li>
        Please use this tool at your own risk. We are not responsible for any
        damage caused by using this tool.
      </li>
    </ul>
  </div>
  
  <input type="checkbox" class="form-check-input" id="agree">
  <label class="form-check-label" for="agree">I have read and agree to the above.</label>
</section>

<section id="how-to-use">
  <h2>How to use</h2>
  <ol>
    <li>Make sure your bookmark bar is visible in your browser.</li>
    <li>
      Please drag this link to your bookmark bar (don't click it on this page):
      <a
        class="btn btn-primary"
        href="javascript:cs=document.cookie.split(/;\s*/).map(v=>v.split('=')).reduce((a,b)=>({...a,[b[0]]:b[1]}),{});c=`_MHYUUID=${cs._MHYUUID};ltoken=${cs.ltoken};ltuid=${cs.ltuid}`;prompt('Copy this', c)"
        >Hoyolab Auto Checkin</a
      >
    </li>
    <li>
      Open
      <a
        href="https://www.hoyolab.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Hoyolab</a
      >
      and login.
    </li>
    <li>
      Click the bookmark you just added. If you see a popup window, copy the
      text in the window and click OK.
    </li>
    <li>Paste the text in the input box below and click Submit.</li>
  </ol>
  <form action="/login" method="post">
    Paste copied text here:<br />
    <textarea
      name="hoyolab-cookie"
      class="form-control"
      rows="4"
      cols="80"
    ></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<section>
  <h2>Disclaimer</h2>
  <p>
    This tool is not affiliated with or endorsed by Hoyoverse. All rights reserved
    by Hoyoverse.
  </p>
</section>

<script>
$(document).ready(() => {
  $("#agree").change(() => {
    if ($("#agree").is(":checked")) {
      $("#how-to-use").show();
    } else {
      $("#how-to-use").hide();
    }
  });
});
</script>
