<section>
{{ if .msg }}
<div class="alert alert-success" role="alert">
  {{ .msg }}
</div>
{{ end }}

<h2>Auto Checkin</h2>
<p><strong>HoyoLab UID: {{ .ltuid }}</strong></p>

<form action="update" method="post">
  {{ if .notFound }}
  <p>This account is not registered for auto login.</p>
  {{ else }}
  This account is registered for auto checkin with the following games. 
  {{ end }}
  
  <div class="form-check">
    <input class="form-check-input" id="genshinCheckbox" type="checkbox" name="games[]" value="genshin" {{ if .enabledGames.GenshinEnabled }}checked{{ end }}>
    <label class="form-check-label" for="genshinCheckbox">Genshin Impact</label>
  </div>
  <div>
    <input class="form-check-input" id="honkai3rdCheckbox" type="checkbox" name="games[]" value="honkai3rd" {{ if .enabledGames.Honkai3rdEnabled }}checked{{ end }}>
    <label class="form-check-label" for="honkai3rdCheckbox">Honkai Impact 3rd<label>
  </div>
  <div>
    <input class="form-check-input" id="honkaistarrailCheckbox" type="checkbox" name="games[]" value="honkaistarrail" {{ if .enabledGames.HonkaiStarRailEnabled }}checked{{ end }}>
    <label class="form-check-label" for="honkaistarrailCheckbox">Honkai Star Rail<label>
  </div>
  <div style="margin-top: 8px">
    {{ if .notFound }}
    <button type="submit" class="btn btn-primary">Start Auto Checkin</button>
    {{ else }}
    <button type="submit" class="btn btn-primary">Update</button>
    {{ end }}
  </div>
</form>
</section>

{{ if not .notFound }}
<section>
  <h2>Remove Auto Checkin</h2>
<p>Click the "Remove" button to remove this account from auto login. All cookies will be removed from our service.</p>
<form action="remove" method="post">
  <button type="submit" class="btn btn-danger">Remove</button>
</form>
</section>

<section>
<h2>Recent Checkin Logs</h2>
<table class="table">
  <tr>
    <th>Time</th>
    <th>Game</th>
    <th>Message</th>
  </tr>
  
  {{ range .checkinLogs }}
  <tr>
    <td>{{ .CreatedAt }}</td>
    <td>{{ .Game }}</td>
    <td>{{ .Msg }}</td>
  </tr>
  {{ end }}
</table>
</section>
{{ end }}

<script>
$(document).ready(() => {
  // if all checkboxes are unchecked, disable the submit button
  const checkboxes = $('input[type="checkbox"]');
  const submitButton = $('button[type="submit"]');
  
  function checkSubmitButton() {
    if (checkboxes.filter(':checked').length === 0) {
      submitButton.prop('disabled', true);
    } else {
      submitButton.prop('disabled', false);
    }
  }
  
  checkboxes.change(checkSubmitButton);
  checkSubmitButton();
})
</script>